* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/*COLORES*/
/*IMPORT*/
.nav-item {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: x-large;
  color: white;
}

.navbar-brand {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: x-large;
  color: white;
}

.envio {
  font-size: large;
  text-align: center;
  background-color: #503d2e;
  color: white;
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

.noolvides {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: underline black;
  color: white;
}

.consulta {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: underline black;
  color: white;
}

.pago {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: underline black;
  color: white;
}

.destacados {
  font-size: large;
  text-align: center;
  background-color: #503d2e;
  color: white;
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

.card {
  font-family: "Playfair Display", serif;
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

.sobremi {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

.soyju {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

.arribaa {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  text-align: center;
}

footer p {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}
footer a {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

/*PRODUCTOS*/
.productoss {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

/*TRABAJOS*/
.trabajos {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

/*INFORMACION*/
.informacion {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.como-comprar {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.como-comprar2 {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}

.como-curar {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.como-curar2 {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}

.cuidar-mate {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.cuidar-mate2 {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}

.mis-productos {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.mis-productos2 {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}

.envioss {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.envioss2 {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 16px;
}

/*CONTACTO*/
.contactos {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.estimado {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: large;
}

.accordion-body {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

/*INDEX*/
header img {
  width: 14rem;
}

main {
  background-color: #a79581;
}
main .sobremi {
  background-color: #503d2e;
  text-align: center;
  color: white;
}
main .soyju {
  background-color: #8a7057;
  height: 50%;
  margin: 2rem auto;
  text-align: center;
  width: 70%;
  color: white;
}
main .lh-sm {
  margin-top: -5%;
}

.container-fluid .ig {
  width: 60px;
  height: 60px;
}
.container-fluid .moto {
  width: 60px;
  height: 60px;
}
.container-fluid .tarjeta {
  width: 60px;
  height: 60px;
  margin-top: 1%;
}
.container-fluid .pago {
  margin-top: -3px;
}

/*FOOTER INDEX*/
.container {
  padding: 2rem;
}
.container .logosinf {
  width: 60px;
  height: 60px;
  margin-left: -10%;
}

/*PRODUCTOS*/
.productoss {
  background-color: #503d2e;
  color: white;
  text-align: center;
  margin-top: -16px;
}

.tabla {
  width: 250px;
  height: 250px;
}

.corazon {
  width: 250px;
  height: 220px;
}

.matep {
  width: 270px;
  height: 265px;
}

.combo3 {
  width: 270px;
  height: 265px;
}

#imagenes {
  display: grid;
  grid-template-columns: repeat(6, 1fr) grid-gap 30px;
}

#imagenes .card {
  width: 100%;
  transition: all 300ms;
  position: relative;
}

#imagenes .card:hover {
  transform: scale(1.15);
}

/*TRABAJOS*/
.trabajos {
  text-align: center;
  background-color: #503d2e;
  color: white;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 2rem 5rem 0rem;
}
.galeria img {
  width: 400px;
  height: 400px;
  border-radius: 2rem;
  border-color: #503d2e;
  border-width: 0.2rem;
  border-style: solid;
  height: 15rem;
  width: 22rem;
}

.videoss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 2rem 5rem 0rem;
}
.videoss video {
  border-radius: 2rem;
  border-color: #503d2e;
  border-width: 0.2rem;
  border-style: solid;
  height: 300px;
  width: 300px;
  margin-left: 2rem;
}

/*INFORMACION*/
.informacion {
  background-color: #503d2e;
  text-align: center;
  color: white;
}

.accordion-header {
  font-family: "Space Mono", monospace;
  font-family: "Ubuntu Condensed", sans-serif;
}

/*CONTACTO*/
.contactos {
  background-color: #503d2e;
  color: white;
  text-align: center;
}

.estimado {
  padding: 1rem;
  background-color: #8a7057;
  color: white;
  width: 50%;
  height: 50%;
  text-align: center;
}

.texto {
  text-align: center;
}

.contactoig {
  color: #503d2e;
}

.pregfrec {
  color: #503d2e;
}

/*MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 900px) {
  .card {
    margin: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
