.nav-item { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: x-large;
    color: white;
}
.navbar-brand { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: x-large;
    color: white;
}
.envio { 
    font-size: large;
    text-align: center;
    background-color: $oscuro;
    color: $blanco;
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.noolvides { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline black;
    color: white;
}
.consulta { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline black;
    color: white;
}
.pago { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline black;
    color: white;
}
.destacados { 
    font-size: large;
    text-align: center;
    background-color: $oscuro;
    color: $blanco;
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.card { 
font-family: 'Playfair Display', serif;
font-family: 'Space Mono', monospace;
font-family: 'Ubuntu Condensed', sans-serif;
}
.sobremi { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.soyju { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.arribaa {
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}
footer { 
    p { 
        font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 16px;
    }
    a { 
        font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: large;
    }
}

/*PRODUCTOS*/ 
.productoss { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
/*TRABAJOS*/ 
.trabajos { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
/*INFORMACION*/ 
.informacion { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}

.como-comprar { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
.como-comprar2 { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
} 
.como-curar { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
    .como-curar2 {
        font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 16px;
    }
.cuidar-mate { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
.cuidar-mate2 { 
        font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 16px;
}
.mis-productos { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
.mis-productos2 { 
        font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 16px;
}
.envios { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
.envios2 { 
    font-family: 'Space Mono', monospace;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 16px;
}
/*CONTACTO*/ 
.contactos { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
.estimado { 
    font-family: 'Space Mono', monospace;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
}
